{% load static %}
<link rel="stylesheet" href="{% static 'css/calificaciones.css' %}">

<div class="form-container">

    <h2>Calificar producto: {{ producto.nombre }}</h2>

    <form method="POST">
        {% csrf_token %}

        <!-- ESTRELLAS SELECCIONABLES -->
        <div class="rating">
            <input type="radio" name="puntaje" value="5"> ★★★★★
            <input type="radio" name="puntaje" value="4"> ★★★★☆
            <input type="radio" name="puntaje" value="3"> ★★★☆☆
            <input type="radio" name="puntaje" value="2"> ★★☆☆☆
            <input type="radio" name="puntaje" value="1"> ★☆☆☆☆
        </div>

        <textarea name="comentario" placeholder="Escribe tu opinión..."></textarea>

        <button type="submit">Enviar calificación</button>
    </form>

</div>