{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

<div class="navbar">
    🌱 AgroLink | Sistema de Calificaciones
</div>

<div class="container">
    <h1>⭐ Opiniones de Usuarios</h1>

    {% for c in calificaciones %}
    <div class="card">

        <div class="estrellas">
            {% for i in "12345" %}
                {% if forloop.counter <= c.puntaje %}
                    ⭐
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
        </div>

        <p><strong>💬 Comentario:</strong> {{ c.comentario }}</p>
        <small>📅 {{ c.fecha }}</small>

        <br><br>

        <a href="{% url 'editar_calificacion' c.id_calificacion %}" class="btn btn-verde">✏️ Editar</a>
        <a href="{% url 'eliminar_calificacion' c.id_calificacion %}" class="btn btn-rojo">🗑️ Eliminar</a>

    </div>
    {% endfor %}
</div>