{% load static %}
<link rel="stylesheet" href="{% static 'css/calificaciones.css' %}">
<a href="{% url 'crear_calificacion' producto.id %}" class="btn-calificar">
    ⭐ Calificar
</a>

<div class="contenedor-calificaciones">

    <h2 class="titulo">⭐ Opiniones de clientes</h2>

    {% for calificacion in calificaciones %}
    <div class="card-calificacion">

        <!-- HEADER -->
        <div class="header-calificacion">

            <div class="usuario">
                <div class="avatar">👤</div>
                <span>{{ calificacion.usuario.username }}</span>
            </div>

            <!-- ESTRELLAS -->
            <div class="estrellas">
                {% for i in "12345" %}
                    {% if calificacion.puntaje >= forloop.counter %}
                        <span class="estrella llena">★</span>
                    {% else %}
                        <span class="estrella">☆</span>
                    {% endif %}
                {% endfor %}
            </div>

        </div>

        <!-- PRODUCTO -->
        <h4 class="producto">{{ calificacion.producto.nombre }}</h4>

        <!-- COMENTARIO -->
        <div class="comentario">
            "{{ calificacion.comentario }}"
        </div>

        <!-- FECHA -->
        <div class="fecha">
            {{ calificacion.fecha|date:"d/m/Y H:i" }}
        </div>

    </div>
    {% empty %}
        <p class="sin-comentarios">No hay calificaciones aún 😢</p>
    {% endfor %}

</div>