{% load static%}
<section id="productCarousel" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-interval="3500">
    <div class="carousel-inner">

            
        <div class="carousel-item active hero"style="background-image: url('{% static "imag/imagenfondo.png" %}');">
            <div class="hero-overlay">
                <div class="hero-text" data-aos="fade-right">
                    <h1>Los mejores productos directos del campo</h1>
                    <p class="lead">Compra sin intermediarios y apoya al productor colombiano</p>
                    <a  class="hero-btn">Explorar productos</a>
                </div>
            </div>
        </div>

        <!-- IMG 2 -->
        <div class="carousel-item hero" style="background-image: url('{% static "imag/Carrusel.jpg" %}');">
            <div class="hero-overlay">
                <div class="hero-text">
                    <h1>Calidad certificada BPA</h1>
                    <p class="lead">Productos frescos cosechados el mismo día</p>
                    <a class="hero-btn">Ver más</a>
                </div>
            </div>
        </div>

        <!-- IMG 3 -->
        <div class="carousel-item hero"style="background-image: url('{% static "imag/alimentos-del-campo-OFERTA.webp" %}');">
            <div class="hero-overlay">
                <div class="hero-text">
                    <h1>Precios justos para todos</h1>
                    <p class="lead">Transparencia en cada compra</p>
                    <a class="hero-btn">Explorar</a>
                </div>
            </div>
        </div>

        <!-- IMG 4 -->
        <div class="carousel-item hero"style="background-image: url('{% static "imag/carrusel1.jfif" %}');">
            <div class="hero-overlay">
                <div class="hero-text">
                    <h1>Del campo a tu mesa</h1>
                    <p class="lead">Apoyando al productor colombiano</p>
                    <a class="hero-btn">Comprar ahora</a>
                </div>
            </div>
        </div>

    </div>
</section>